{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage",
          "corejs": 3 // or use the appropriate version of Core.js
        }
      ],
      // ... other presets or plugins
    ]
  }
  