@media (max-width: 500px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .NewPassword .BlueContainer {
        display: flex;
        width: 100%;
        padding: 61px 14px 14px 24px;
        align-items: center;
        background: var(--primary-color, #0C3EAD);
    }

    .NewPassword .WhiteContainer {
        width: 62px;
        height: 62px;
        flex-shrink: 0;
        border-radius: 60%;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .NewPassword .arrow-left {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    .NewPassword .Whitebox {
        padding: 24px;
        /* height: 80vh; */
    }

    .NewPassword .New {
        margin-left: 10%;
        margin-top: 23px;
        color: var(--text-white, #FFF);
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 133.333% */
    }

    .NewPassword .text {
        margin: 11px 0 0 0;
        color: #0C3EAD;
        font-family: Rubik;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 133.333% */
    }

    .NewPassword .text2 {
        color: rgba(0, 0, 0, 0.51);
        font-family: Rubik;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 133.333% */
        margin: 5px 0 0 0;
    }

    .NewPassword .labelpass {
        color: #0C3EAD;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: lighter;
        line-height: 24px; /* 171.429% */
        margin-top: 8px;
    }

    .NewPassword .labelpass2 {
        color: #0C3EAD;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: lighter;
        line-height: 24px; /* 171.429% */
    }
    
    .NewPassword .error-message {
        color: red;
        font-size: 14px;
    }


    .NewPassword .SendBtn {
        display: flex;
        width: 100%;
        padding: 6px 64px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.00);
        background: #0C3EAD;
        color: #fff;
        color: #E2EBFD;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        margin-top: 30px;
    }


}