.password-container {
    position: relative;
    display: flex;
    align-items: center;
    /* margin: 20px; */
    width: 100%;
    background: #E2EBFD;
    border: 1px solid rgba(0, 0, 0, 0.51);
    padding-left: 64px;
    border-radius: 5px;
    gap: 10px;

  }
  
  .password-input {
    /* padding: 10px; */
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 5px;
    flex-grow: 1;
    background-color: #E2EBFD;
    outline: none;
        /* display: flex; */
        /* width: 100%; */
        /* justify-content: center; */
        /* align-items: center; */
        /* flex-shrink: 0; */
  }
  
  .password-toggle {
    cursor: pointer;
    padding: 5px;
    background-color: #E2EBFD;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.51);
  }